<% provide(:title, @user.name) %>
 
<div class="row">
  <h1>Stats of Wrath</h1>
</div>
<div class ="row">
  <div class = "user_side">
    <aside class = "span3">
      <section>
        <%= twivatar_for @user %>
        <p><a href='http://twitter.com/<%= @user.name %>'><%= @user.name %></a></p>
        <div class = "well well-small">
          <p class="info"> Prev Rounds:
            <% @rounds_list.each do |round| %>
              <% if round != "1" %>
                <%=  round.round_id %>
              <% end %>
            <% end %>
          </p>
        </div>
        </section>
    </aside>
  </div>
  <div class = "span5" id ="progress_chart" style="width:700px; height:300px;"></div>
</div>
<div class="row">
  <div class="tabbable tabs-left">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#overchartraw" data-toggle="tab">Raw Pages Chart</a></li>
      <li><a href="#overchartpoints">Points Chart</a></li>
      <li><a href="#medium" data-toggle="tab">Mediums Graph</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div id="#overchartraw" class="tab-pane active">
        <div class="span10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Round</th>
                <th>Book</th>
                <th>Manga</th>
                <th>Net</th>
                <th>Full Game</th>
                <th>Game</th>
                <th>Lyrics</th>
                <th>Subs</th>
                <th>News</th>
                <th>Sentences</th>
                <th>Nico</th>
              </tr>
            </thead>
            <tbody>
            <% raw_book_total = 0%>
            <% raw_manga_total = 0%>
            <% raw_net_total = 0%>
            <% raw_fgame_total = 0%>
            <% raw_game_total = 0%>
            <% raw_lyric_total = 0%>
            <% raw_subs_total = 0%>
            <% raw_news_total = 0%>
            <% raw_sent_total = 0%>
            <% raw_nico_total = 0%>
            <% @rounds_stats.sort.each do |round,stats| %>
              <% if round != "1" %>
                  <tr>
                    <td><%= short_round_name(round) %></td>
                    <td><%= stats["book"]["raw"].round(2) %></td>
                    <% raw_book_total += stats["book"]["raw"] %>
                    <td><%= stats["manga"]["raw"].round(2) %></td>
                    <% raw_manga_total += stats["manga"]["raw"] %>
                    <td><%= stats["net"]["raw"].round(2) %></td>
                    <% raw_net_total += stats["net"]["raw"] %>
                    <td><%= stats["fgame"]["raw"].round(2) %></td>
                    <% raw_fgame_total += stats["fgame"]["raw"] %>
                    <td><%= stats["game"]["raw"].round(2) %></td>
                    <% raw_game_total += stats["game"]["raw"] %>
                    <td><%= stats["lyric"]["raw"].round(2) %></td>
                    <% raw_lyric_total += stats["lyric"]["raw"] %>
                    <td><%= stats["subs"]["raw"].round(2) %></td>
                    <% raw_subs_total += stats["subs"]["raw"] %>
                    <td><%= stats["news"]["raw"].round(2) %></td>
                    <% raw_news_total += stats["news"]["raw"] %>
                    <td><%= stats["sent"]["raw"].round(2) %></td>
                    <% raw_sent_total += stats["sent"]["raw"] %>
                    <td><%= stats["nico"]["raw"].round(2) %></td>
                    <% raw_nico_total += stats["nico"]["raw"] %>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td>Total</td>
                <td><%= raw_book_total.round(2) %></td>
                <td><%= raw_manga_total.round(2) %></td>
                <td><%=raw_net_total.round(2) %></td>
                <td><%= raw_fgame_total.round(2) %></td>
                <td><%= raw_game_total.round(2) %></td>
                <td><%= raw_lyric_total.round(2) %></td>
                <td><%= raw_subs_total.round(2) %></td>
                <td><%= raw_news_total.round(2) %></td>
                <td><%= raw_sent_total.round(2) %></td>
                <td><%= raw_nico_total.round(2) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="#overchartpoints" class ="tab-pane">
        <div class="span10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Round</th>
                <th>Book</th>
                <th>Manga</th>
                <th>Net</th>
                <th>Full Game</th>
                <th>Game</th>
                <th>Lyrics</th>
                <th>Subs</th>
                <th>News</th>
                <th>Sentences</th>
                <th>Nico</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            <% points_sent_total = 0 %>
            <% @rounds_stats.sort.each do |round,stats| %>
              <% if round != "1" %>
                  <tr>
                    <td><%= short_round_name(round) %></td>
                    <td><%= stats["book"]["points"].round(2) %></td>
                    <td><%= stats["manga"]["points"].round(2) %></td>
                    <td><%= stats["net"]["points"].round(2) %></td>
                    <td><%= stats["fgame"]["points"].round(2) %></td>
                    <td><%= stats["game"]["points"].round(2) %></td>
                    <td><%= stats["lyric"]["points"].round(2) %></td>
                    <td><%= stats["subs"]["points"].round(2) %></td>
                    <td><%= stats["news"]["points"].round(2) %></td>
                    <td><%= stats["sent"]["points"].round(2) %></td>
                    <% points_sent_total += stats["sent"]["points"] %>
                    <td><%= stats["nico"]["points"].round(2) %></td>
                    <td><%= stats["total"].round(2) %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td>Total</td>
                <td><%#= @rounds_stats["1"]["book"]["points"] %></td>
                <td><%#= @rounds_stats["1"]["manga"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["net"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["fgame"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["game"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["lyric"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["subs"]["points"].round(2) %></td>
                <td><%#= @rounds_stats["1"]["news"]["points"].round(2) %></td>
                <td><%= points_sent_total.round(2) %></td>
                <td><%#= @rounds_stats["1"]["nico"]["points"].round(2)%></td>
                <td><%= @rounds_stats["1"]["total"].round(2) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="#medium" class="tab-pane">
        <div class = "span5" id ="pie_chart" style="width:450px; height:450px;"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {

  $('#myTab a').click(function(e) {
    var paneWeWant, self;
    e.preventDefault();
    self = $(this);
    $('#myTab a').each(function() {
      $(this).parent().removeClass('active');
      return $(this).removeClass('active');
    });
    self.addClass('active');
    self.parent().addClass('active');
    paneWeWant = this.href.match(/\#\w+/);
    console.log("The pane we want is " + paneWeWant);
    return $('.tab-pane').each(function(n, i) {
      if (("" + i.id) === paneWeWant[0]) {
        console.log("The tab-pane's id is " + i.id);
        return $(this).addClass('active in');
      } else {
        return $(this).removeClass('active in');
      }
    });
  });

}).call(this);
</script>