<% provide(:title, @user.name) %>
 
<div class="row">
  <h1>Stats of Wrath</h1>
</div>
<div class ="row">
  <div class = "user_side">
    <aside class = "span3">
      <section>
          <%= twivatar_for @user %>
          <p><a href='http://twitter.com/<%= @user.name %>'><%= @user.name %></a></p>
          <div class = "well well-small">
        </div>
      </section>
    </aside>
  </div>
  <div class = "span5" id ="progress_chart" style="width:700px; height:300px;"></div>
</div>
<div class="row">
  <div class="tabbable tabs-left">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#overchart" data-toggle="tab">Medium Chart</a></li>
      <li><a href="#medium" data-toggle="tab">Mediums Graph</a></li>
      <li><a href="#updates" data-toggle="tab">Updates</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div id="#overchart" class="tab-pane active">
        <div class="span10">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Round</th>
                <th>Book</th>
                <th>Manga</th>
                <th>Net</th>
                <th>Full Game</th>
                <th>Game</th>
                <th>Lyrics</th>
                <th>Subs</th>
                <th>News</th>
                <th>Sentences</th>
                <th>Nico</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
            <% @rounds_stats.sort.each do |round,stats| %>
              <% if round != "1" %>
                  <tr>
                    <td><%= round %></td>
                    <td><%= stats["book"]["raw"].round(2) %></td>
                    <td><%= stats["manga"]["raw"].round(2) %></td>
                    <td><%= stats["net"]["raw"].round(2) %></td>
                    <td><%= stats["fgame"]["raw"].round(2) %></td>
                    <td><%= stats["game"]["raw"].round(2) %></td>
                    <td><%= stats["lyric"]["raw"].round(2) %></td>
                    <td><%= stats["subs"]["raw"].round(2) %></td>
                    <td><%= stats["news"]["raw"].round(2) %></td>
                    <td><%= stats["sent"]["raw"].round(2) %></td>
                    <td><%= stats["nico"]["raw"].round(2) %></td>
                    <td><%= stats["total"].round(2) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="#medium" class="tab-pane">
        <div class = "span5" id ="pie_chart" style="width:450px; height:450px;"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {

  $('#myTab a').click(function(e) {
    var paneWeWant, self;
    e.preventDefault();
    self = $(this);
    $('#myTab a').each(function() {
      $(this).parent().removeClass('active');
      return $(this).removeClass('active');
    });
    self.addClass('active');
    self.parent().addClass('active');
    paneWeWant = this.href.match(/\#\w+/);
    console.log("The pane we want is " + paneWeWant);
    return $('.tab-pane').each(function(n, i) {
      if (("" + i.id) === paneWeWant[0]) {
        console.log("The tab-pane's id is " + i.id);
        return $(this).addClass('active in');
      } else {
        return $(this).removeClass('active in');
      }
    });
  });

}).call(this);
</script>