<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tadoku", root_path, id: "logo" %>


      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Manual", manual_path %></li>
          <li id="fat-menu" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Ranking <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Current Ranking", ranking_path %></li>
              <li class="divider"></li>
              <% @ordered_rounds.each do |year_key,year_array| %>
              <li class="dropdown-submenu">
                <a tabindex="-1" href=#><%= year_key %> <%=pluralize(year_array.length,"Ranking") %></a>
                  <ul class="dropdown-menu">
                    <% year_array.each do |round| %>
                      <li><%= link_to round_name(round.to_s), round_path(round) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "All-Time Ranking", round_path(1) %></li>
            </ul>
          </li>
          <% if @update %>
            <li><%= link_to "Update", "#updateModal", "data-toggle" => "modal" %></li>
            <li><%= link_to "Sign out", signout_path, method: :delete %></li>
					<% else %>
					<li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
