<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tadoku", root_path, id: "logo" %>

     
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Manual", manual_path %></li>
          <li id="fat-menu" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Ranking <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Current Ranking", ranking_path %></li>
              <li class="divider"></li>
               <li class="dropdown-submenu">
                <a tabindex="-1" href=#>2013 Rankings</a>
                  <ul class="dropdown-menu">
                    <% @ordered_rounds["2013"].each do |r2013| %>
                      <li><%= link_to round_name(r2013.to_s), round_path(r2013) %></li>
                    <% end %>
                  </ul>
              </li>
               <li><%= link_to "2012 Ranking", round_name(@ordered_rounds["2012"].first.to_s) %></li>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href=#>2011 Rankings</a>
                  <ul class="dropdown-menu">
                    <% @ordered_rounds["2011"].each do |r2011| %>
                      <li><%= link_to  round_name(r2011.to_s), round_path(r2011) %></li>
                    <% end %>
                  </ul>
              </li>
              <li><%= link_to "2010 Ranking", zero_path %></li>
            </ul>
          </li>
          <% if current_user %>
            <li><%= link_to "Update", "#updateModal", "data-toggle" => "modal" %></li>
            <li><%= link_to "Sign out", signout_path, method: :delete %></li>
					<% else %>
					<li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


